{% extends 'base.html' %}
{% load static %}
{% block title %}Flower Shop{% endblock %}
{% block header %}
    <div class="mainBg">
        {% include 'header.html' %}
        <section id="banner">
            <div class="container">
                <div class="banner">
                    <div class="banner__block">
                        <h1 class="banner__title">Мастерская цветов</h1>
                        <p class="banner__text">Подберем для вас букет за два шага, который идеально подойдет под вашу
                            ситуацию</p>
                        <button class="btn banner__btn" onclick='goto(`{% url "bouquets:quiz_delivery_step" %}`)'>
                            Подобрать букет
                        </button>
                    </div>
                    <img src="{% static 'img/bannerImg.png' %}" alt="banner Img" class="banner__img">
                </div>
            </div>
        </section>
    </div>
{% endblock header %}
{% block content %}
    <section id="recommended">
        <div class="container">
            <div class="recommended p100">
                <div class="title">Рекомендуем</div>
                <div class="recommended__elems ficb">
                    {% for recommended_bouquet in recommended_bouquets %}
                        {% include 'bouquets/components/bouquet_card.html' with bouquet=recommended_bouquet only %}
                    {% endfor %}
                </div>
                <button class="btn recommended__btn" onclick='goto(`{% url 'bouquets:catalog' %}`)'>
                    Показать всю коллекцию
                </button>
            </div>
        </div>
    </section>
    <section id="consultation">
        <div class="container">
            <div class="consultation">
                <div class="title consultation__title">Оставьте заявку на консультацию</div>
                {% include 'consultation/components/consultation_form.html' %}
            </div>
        </div>
    </section>
{% endblock content %}